/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url(https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ubuntu:wght@300&display=swap);

/* Styles for the body */

body {
	font-family: 'Ubuntu', sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 120px;
}

.resume-header {
    background-color: #84a59d;
}

.top {
	color: #fffefc;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #f7ede2;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #f28482;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.language-progress {

	background-color: #f5cac3;
}

