/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Montserrat:wght@200&family=Ubuntu:wght@300&display=swap);

/* Styles for the body */

body {
	font-family:  'Ubuntu', sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

h1 {
	font-family: 'Kanit', sans-serif;
}

.resume-header {
    background-color: #19647e;
}

.top {
	color: #fffefc;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #a7cced;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #40F9FF;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

